#navbarNav {
    justify-content: right;
}

.navbar-nav {
    align-items: center;
}

#g-nav-1 {
    background-color: rgb(41, 41, 41);
}

.navbar-brand {
    color: whitesmoke;
    font-size: 30px
}

.nav-link {
    color: whitesmoke;
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

.g-titles {
    font-family: 'Poiret One', sans-serif;
}

#g-heading-1 {
    margin: 20px;
}

#g-git,
#g-github {
    margin: 50px;
}
section{
    text-align: justify;
}
li{
    list-style: none;
}

footer {
    display:flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-size: 12px;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
}
footer a{
    text-decoration: none;
    color:whitesmoke
}
.g-footer-logo{
    height: 90%;
}