#g-nav-1{
    background-color: rgb(71, 71, 71);
}
.navbar-brand{
    color:whitesmoke;
    font-family: 'Poiret One', sans-serif;
    font-size: 30px
}
.nav-link{
    color:whitesmoke;
    font-size: 20px;
}
h1{
    font-size: 60px;
}
.g-titles{
    font-family: 'Poiret One', sans-serif;
}
#g-heading-1{
    margin: 20px;
}
#g-git, #g-github{
    margin: 20px;
}